{% extends "layout.html.twig" %}

{% block title %}Registration{% endblock %}

{% block header %}Registration success{% endblock %}

{% block content %}
    <div class="well well-lg">Registration success!</div>
    <div class="row">
        <div class="col-sm-6">
            <a href="{{ loginAction }}" class="btn btn-primary" role="button">Login</a>
        </div>
    </div>
{% endblock %}
